/*
background-grey: #F4F3F4;
button-purple: #192592
main-titles dark-grey: #2C303F;
paragraph grey: #5b5e6d;
nav grey: #5b5e6d;
*/


@import url('https://fonts.googleapis.com/css?family=Merriweather|Source+Sans+Pro');
@import url('https://fonts.googleapis.com/css?family=Libre+Baskerville');
/*font-family: 'Merriweather', serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Libre Baskerville', serif;
*/

* {
    margin: 0;
    padding: 0;
  }

#nav-bar{
    display: flex;
    height: 90px;
    position: fixed;
    width: 100%;
    background: white;
    border-bottom: #5b5e6d 0.3px solid;
}

ul{
    display: flex;
    list-style: none;
    font-family: 'Source Sans Pro', sans-serif;
    padding: 30px;
    margin-left: 700px;
    width: 600px;
    justify-content: space-between;
    color: #5b5e6d;
}

a{
   text-decoration: none; 
   color: #5b5e6d;
}

#slack-logo{
    height: 70px;
    margin: 10px 0px 0px 60px;
}


#workspaces-button{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 19px;
    color: #5b5e6d;
    background-color: white;
    padding: 2px 10px;
    border-radius: 5px;
    border: #5b5e6d 1px solid;
}

#header{
    padding-top: 150px; 
    display: flex;
    margin-left: 50px;
    margin-bottom: 50px;
}

#header-content{
    display: flex;
    flex-direction: column;
    width: 400px;
    margin-left: 200px;
}



#header p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #5b5e6d;
    font-size: 20px;
    margin-bottom: 50px;
}

.get-started-button{
    width: 120px;
    background-color: #192592;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 6px;
    padding: 15px 15px;
    border-style: none;
    margin-bottom: 30px;
}

#bunch-of-logos{
    background: #F4F3F4;
}

h2{
    font-family: 'Merriweather', serif;
}

.main-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 150px;
    padding-top: 80px;
    padding-bottom: 70px;
}

.main-text p{
    font-family: 'Source Sans Pro', sans-serif;
    color: #5b5e6d;
    font-size: 20px;
    margin: 20px 0px 30px 0px;
}

.discover-button{
    color: #192592;
    background: white;
    border-radius: 4px;
    border: #192592 1px solid;
    padding: 20px;
}

.images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1000px;
    margin-left: 300px;
}

.small-images{
    height: 80px;   
}

.big-images{
    margin-top: 70px;
    height: 40px;
}

#tryIt{
    display: flex;
    flex-direction: row;
    padding: 90px 0px 40px 0px;
    justify-content: space-around;
}

.tryItText{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 17px;
}

#tryIt button{
    width: 120px;
    background-color: #192592;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
    border-radius: 6px;
    padding: 15px 15px;
    border-style: none;
    margin-bottom: 20px;
}


#footer-bunch{
    display: flex;
}


#list-of-links{
    margin: 20px 0px 0px 80px;
    display: flex;
    width: 400px;
}

#footer ul{
    margin-left: 25px;
}

.last-image{
    height: 120px;
    padding-left: 300px;
}

.last-strong-links{
    color:  #5b5e6d;
    font-family: 'Libre Baskerville', serif;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    line-height: 30px;
}